<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Тест</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="btn-group mt-2 mr-2">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                АРМ центрального диспетчера
            </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Диспетчерский отчёт</a>
            <a class="dropdown-item" href="templates/schedule_index.php">Плановая растановка подвижого состава</a>
        </div>
        </div>

      <div class="btn-group mt-2 mr-2">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Предприятие
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">О предприятии</a>
            <a class="dropdown-item" href="#">Подразделения(службы) входящие в предприятие</a>
            <a class="dropdown-item" href="#">Сотрудники</a>
        </div>

        </div>

      <div class="btn-group mt-2 mr-2">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Классификаторы
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Виды транспорта</a>
            <a class="dropdown-item" href="#">Депо</a>
            <a class="dropdown-item" href="#">Маршруты</a>
            <a class="dropdown-item" href="#">Виды графиков</a>
            <a class="dropdown-item" href="#">Профессии(должности) работников </a>
        </div>

        </div>

      <div class="btn-group mt-2 mr-2">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Настройки
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Пользователи системы</a>
            <a class="dropdown-item" href="#">Настройки пользователя</a>
            <a class="dropdown-item" href="#">Исправить таблицы</a>
        </div>

        <button type="button" class="btn btn-warning ml-2">Выход</button>

        </div>


    </div>
      <script src="js/jquery-3.5.1.min.js"></script>
      <script src="js/popper.js"></script>
      <script src="js/bootstrap.js"></script>

  </body>
</html>