{% extends "cds/base/base.html" %}
{% load static %}

{% block content %}

<p class="mt-2">Добавление предприятия</p>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">название</th>
      <th scope="col">адрес</th>
      <th scope="col">электронная почта</th>
      <th scope="col">номер телефона</th>
      <th scope="col">удаление</th>
    </tr>
  </thead>
  <tbody>
  {% if company %}
        {% for c in company %}
    <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.address }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.telephone }}</td>
        <td><a class="btn btn-primary float-right" href="{% url 'del_company' c.pk %}" role="button">Удалить</a></td>
    </tr>
  {% endfor %}
      {% endif %}
  </tbody>
</table>

<form method="post">
{% csrf_token %}
    <div class="border mb-4 mt-2 rounded border-secondary" id="feedback">
        <div class="mt-2 ml-4 mb-3">
            <div>
                <p>{{ form.name.label }}</p>
            </div>
            <div>
                <p>{{ form.name }}</p>
            </div>
            <div>
                <p>{{ form.address.label }}</p>
            </div>
            <div>
                <p>{{ form.address }}</p>
            </div>
            <div>
                <p>{{ form.email.label }}</p>
            </div>
            <div>
                <p>{{ form.email }}</p>
            </div>
            <div>
                <p>{{ form.telephone.label }}</p>
            </div>
            <div>
                <p>{{ form.telephone }}</p>
            </div>
            <div>
                <input type="submit" value="Добавить">
            </div>
        </div>
    </div>


</form>

{% endblock %}
