{% extends "cds/base/base.html" %}
{% load static %}



{% block content %}

<p class="mt-2">Редактирование подразделений</p>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Полное наименование</th>
      <th scope="col">Предприятие</th>
      <th scope="col">Удаление</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% if company_units %}
        {% for c in company_units %}
          <td>{{ c.name }}</td>
          <td>{{ c.full_name }}</td>
          <td>{{ c.company }}</td>
          <td><a class="btn btn-primary float-right" href="{% url 'del_company_units' c.pk %}" role="button">Удалить</a></td>
        {% endfor %}
      {% endif %}
    </tr>
  </tbody>
</table>

<form method="post">
{% csrf_token %}
    <div class="border mb-4 mt-2 rounded border-secondary" id="feedback">
        <div class="mt-2 ml-4 mb-3">
            <div>
                <p>{{ form.company.label }}</p>
            </div>
            <div>
                <p>{{ form.company }}</p>
            </div>
            <div>
                <p>{{ form.name.label }}</p>
            </div>
            <div>
                <p>{{ form.name }}</p>
            </div>
            <div>
                <p>{{ form.full_name.label }}</p>
            </div>
            <div>
                <p>{{ form.full_name }}</p>
            </div>
            <div>
                <input type="submit" value="Добавить">
            </div>
        </div>
    </div>


</form>



{% endblock %}
